<ng-container
  *ngIf="hasValidBooking(); then validBooking; else confirm"
></ng-container>

<ng-template #confirm>
  <nz-row nzJustify="center">
    <nz-space nzDirection="vertical" nzSize="large">
      <ng-container *nzSpaceItem>
        <input
          nz-input
          class="std-width"
          placeholder="Enter your Booking ID"
          [(ngModel)]="bookingId"
        />
      </ng-container>
      <ng-container *nzSpaceItem>
        <button
          nz-button
          nzBlock
          nzType="primary"
          (click)="onConfirm()"
          [disabled]="bookingId?.length === 0"
        >
          Confirm Booking ID
        </button>
      </ng-container>
    </nz-space>
  </nz-row>
</ng-template>

<ng-template #validBooking>
  <h3 nz-typography>Booking data:</h3>
  <span nz-typography> Email: {{ booking.user.email }}</span>
  <span nz-typography> Location: {{ booking.location.name }}</span>
  <span nz-typography> Date: {{ booking.date | date: 'MMM d, y, H:mm' }}</span>
  <span nz-typography> Seats: {{ booking.seats }}</span>

  <br />
  <nz-row nzJustify="start">
    <button
      nz-button
      class="std-width"
      nzBlock
      nzType="primary"
      (click)="onCheckin()"
    >
      Check-in
    </button>
  </nz-row>
</ng-template>
