<nz-row nzJustify="center">
  <nz-space nzDirection="vertical" nzSize="large">
    <h2 *nzSpaceItem nz-typography>Welcome to the greenkayak app</h2>
    <button
      *nzSpaceItem
      nz-button
      nzBlock
      nzType="primary"
      (click)="onCheckIn()"
    >
      Check-in
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzBlock
      nzType="primary"
      (click)="onCheckOut()"
    >
      Check-out
    </button>
    <button *nzSpaceItem nz-button nzBlock nzType="primary">Map</button>
    <button
      *nzSpaceItem
      nz-button
      nzBlock
      nzType="primary"
      (click)="onCheckLeaderboard()"
    >
      Check Leaderboard
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzBlock
      nzType="primary"
      (click)="onAboutUs()"
    >
      About us
    </button>
  </nz-space>
</nz-row>
