<nz-row nzJustify="center">
  <nz-space nzDirection="vertical" nzSize="large">
    <h1 *nzSpaceItem>Welcome to the greenkayak app</h1>
    <button
      *nzSpaceItem
      nz-button
      nzBlock
      nzType="primary"
      (click)="onCheckIn()"
    >
      Go to check-in page
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzBlock
      nzType="primary"
      (click)="onCheckOut()"
    >
      Go to check-out page
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzBlock
      nzType="primary"
      (click)="onCheckLeaderboard()"
    >
      Check Leaderboard
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzBlock
      nzType="primary"
      (click)="onAboutUs()"
    >
      About us
    </button>
  </nz-space>
</nz-row>
